.fadeIn-enter-active{
  transition: opacity 0.8s ease;
}
.fadeIn-enter {
  opacity: 0;
}

// 小球的过渡
.bounce-enter-active {
  animation: ballin 0.6s;
}
.bounce-leave-active {
  animation: ballout 0.4s;
}

// 页面过渡
.content-right-enter-active, .content-right-leave-active,
.content-left-enter-active, .content-left-leave-active {
  position: absolute;
  transition: transform 0.6s linear;
  height: 100vh;
  overflow: hidden;
}
.content-right-leave-active,
.content-left-enter {
  transform: translateX(10rem)
}
.content-right-enter,
.content-left-leave-active {
  transform: translateX(-10rem)
}

// .content-left-enter-active, .content-left-leave-active {
//   position: absolute;
//   transition: transform 5s linear;
//   height: 100vh;
//   overflow: hidden;
// }
// .content-left-leave-active {
//   transform: translateX(-10rem)
// }
// .content-left-enter {
//   transform: translateX(10rem)
// }

// 历史
.slide-enter-to, .slide-leave-to {
  transition: height 0.2s linear;
}
.slide-enter, .slide-leave-to {
  height: 0;
}
.slide-enter-to, .slide-leave {
  height: px2rem(300px)
}

@keyframes ballin {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  40% {
    transform: translateY(-1 * px2rem(50px));
  }
  70% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(-1 * px2rem(30px));
  }
  100% {
    transform: translateY(0)
  }
}
@keyframes ballout {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100px);
    opacity: 0;
  }
}

